/* Write your CSS Here. */
/* * {
    outline: 1px solid crimson;
} */

#gameView {
    box-sizing: border-box;
    height: 200vh;
    width: 200vw;
}

#gameBoard {
    height: 30%;
    width: 30%;
    align-items: center;
    /* justify-content: center; */
}

.x {
    /* background-color: orange; */
    background-image: url(images/x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* .x::after {
    content: '';
    position: absolute;
    
    background-repeat: no-repeat;
    margin: 0 auto;
} */

.o {
    /* background-color: gold; */
    background-image: url(images/o.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

table {
    table-layout: fixed;
}

td {
    outline: 3px solid orangered;
}

